
TMPred.xcodeproj/project.xcworkspace/xcuserdata/tanmay.xcuserdatad/UserInterfaceState.xcuserstate

TMPred.xcodeproj/xcuserdata/tanmay.xcuserdatad/xcschemes/TMPred.xcscheme

TMPred.xcodeproj/xcuserdata/tanmay.xcuserdatad/xcschemes/xcschememanagement.plist

*.pbxproj
